<ion-card class="ion-card">
	<ion-card-content [formGroup]="rideSearchForm">
		<fieldset>
			<legend class="item-title">Pickup Location</legend>
			<ion-item class="loc-item"
				*ngFor="let formControl of pickupLocation; let i = index; let first = first; let count = count; let last=last;">
				<ion-icon name="pin" slot="start"></ion-icon>
				<ion-input (click)="pickLocation('from',i)" [formControl]="formControl"></ion-input>
				<ion-icon name="add" slot="end" *ngIf="first && count!=4"
					(click)="addControl('pickupLocation','Pickup From?')"></ion-icon>
				<ion-icon name="remove" slot="end" *ngIf="last && !first" (click)="removeControl('pickupLocation',i)">
				</ion-icon>
			</ion-item>
		</fieldset>
		<fieldset>
			<legend class="item-title">Drop Location</legend>
			<ion-item class="loc-item"
				*ngFor="let formControl of dropLocation; let i=index; let first = first; let count = count; let last=last;">
				<ion-icon name="pin" slot="start"></ion-icon>
				<ion-input (click)="pickLocation('to',i)" [formControl]="formControl"></ion-input>
				<ion-icon name="add" slot="end" *ngIf="first && count!=4"
					(click)="addControl('dropLocation','Where To?')">
				</ion-icon>
				<ion-icon name="remove" slot="end" *ngIf="last && !first" (click)="removeControl('dropLocation',i)">
				</ion-icon>
			</ion-item>
		</fieldset>
		<ion-radio-group formControlName="rideSchedule">
			<ion-item>
				<ion-label>Now</ion-label>
				<ion-radio slot="start" value="0"></ion-radio>
			</ion-item>
			<ion-item>
				<ion-label>Later</ion-label>
				<ion-radio slot="start" value="1"></ion-radio>
			</ion-item>
		</ion-radio-group>
		<ion-item *ngIf="enableRideTime">
			<ion-icon name="calendar" slot="start"></ion-icon>
			<ion-label>Start Date</ion-label>
			<ion-datetime display-format="MMM DD, YYYY" picker-format="MMM DD, YYYY" [min]="minDate" [max]="maxDate"
				placeholder="Select Date" formControlName="rideDate"></ion-datetime>
		</ion-item>
		<ion-item *ngIf="enableRideTime">
			<ion-icon name="time" slot="start"></ion-icon>
			<ion-label>Start Time</ion-label>
			<ion-datetime display-format="HH:mm A" picker-format="HH:mm A" formControlName="rideTime" [min]="minTime">
			</ion-datetime>
		</ion-item>

		<ion-segment formControlName="carType">
			<ion-segment-button *ngFor="let carType of carTypeList" [value]="carType" class="segment">
				<img src="../../../assets/icon/{{CarType[carType]}}.svg" alt="{{CarType[carType]}}">
				<ion-label>{{CarType[carType]}}</ion-label>
			</ion-segment-button>
		</ion-segment>

		<ion-item>
			<span class="fa fa-rupee"></span>
			<ion-input class="bid" formControlName="bid"></ion-input>
		</ion-item>
		<ion-text color="danger" *ngIf="rideSearchForm.get('bid').touched && rideSearchForm.get('bid').hasError('min')">
			Bid amount cannot be less than 50
		</ion-text>
		<ion-text color="danger"
			*ngIf="rideSearchForm.get('bid').touched && rideSearchForm.get('bid').hasError('required')">
			Bid amount is mandatory
		</ion-text>

		<ion-item-divider></ion-item-divider>

		<ion-button expand="block" class="ion-button" (click)="requestForCab()">Confirm</ion-button>
		<ion-button expand="block" class="ion-button" (cancel)="cancel()">Cancel</ion-button>
	</ion-card-content>
</ion-card>