<ion-content>
    <ion-searchbar #searchbar showCancelButton="focus" animated="true" placeholder="Search for Location"
        cancelButtonText="Cancel" class="form-control" [formControl]="searchControl"> </ion-searchbar>
    <ion-button (click)="navigateToHome()">Ok</ion-button>
    <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="15" #serviceHelper>
        <ion-list>
            <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                (dragEnd)="markerDragEnd($event)"></agm-marker>
        </ion-list>
    </agm-map>
</ion-content>