#price-content > .mat-fab {
  margin-right: 5px;
}

#action {
  margin-top: 16px;
}
#action > .mat-raised-button:last-child {
  margin-left: 16px;
}

ion-label {
  font-size: 13px;
  margin: 0;
}

img {
  width: 50px;
}
