<ion-card>
  <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
    <ion-label (click)="pickLocation('from')">Pickup From?</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
    <ion-label (click)="pickLocation('to')">Where To? </ion-label>
  </ion-item>
  <ion-card-content>
    <ion-toolbar>
      <ion-segment (ionChange)="segmentChanged($event)">
        <ion-segment-button value="hatchback">
          <ion-label>&#x20b9;386</ion-label>
          <img src="../../../assets/icon/iconfinder_city-car_285808.svg" alt="hatchback">
        </ion-segment-button>
        <ion-segment-button value="sedan">
          <ion-label>&#x20b9;486</ion-label>
          <img src="../../../assets/icon/iconfinder_sedan_285810.svg" alt="sedan">
        </ion-segment-button>
        <ion-segment-button value="suv">
          <ion-label>&#x20b9;586</ion-label>
          <img src="../../../assets/icon/iconfinder_SUV_285812.svg" alt="suv">
        </ion-segment-button>
        <ion-segment-button value="lux">
          <ion-label>&#x20b9;686</ion-label>
          <img src="../../../assets/icon/iconfinder_sportcar_285811.svg" alt="luxary">
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
    <div class="align-center" id="action">
      <button mat-raised-button>Confirm</button>
      <button mat-raised-button>Cancel</button>
    </div>
  </ion-card-content>
</ion-card>