<ion-card>
  <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
    <ion-input [(ngModel)]="pickUpInput" (click)="pickLocation('source')"></ion-input>
  </ion-item>
  <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
    <ion-input [(ngModel)]="destionationInput" (click)="pickLocation('destination')"></ion-input>
  </ion-item>
  <ion-card-content>
    <ion-toolbar>
      <ion-segment (ionChange)="segmentChanged($event)">
        <ion-segment-button *ngFor="let rideEstimate of rideEstimateList" value="{{CarType[rideEstimate.carType]}}">
          <ion-label>&#x20b9;{{rideEstimate.fare}}</ion-label>
          <img src="../../../assets/icon/{{CarType[rideEstimate.carType]}}.svg" alt="{{CarType[rideEstimate.carType]}}" title="{{CarType[rideEstimate.carType] | uppercase}}">
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
    <div class="align-center" id="action">
        <ion-button color="primary">Confirm</ion-button>
        <ion-button color="primary">Cancel</ion-button>
    </div>
  </ion-card-content>
</ion-card>