<ion-card>

	<ion-card-content>
		<ion-item>
			<ion-avatar slot="start">
				<img src="https://www.gstatic.com/webp/gallery/2.sm.jpg">
      </ion-avatar>

				<ion-label>
					<h1>Maclean Maurice Pinto</h1>
					<ion-icon name="star"></ion-icon>
					<ion-icon name="star"></ion-icon>
					<ion-icon name="star"></ion-icon>
					<ion-icon name="star"></ion-icon>
				</ion-label>

		</ion-item>
		<ion-list>
			<ion-item>
				<ion-label>
					<ion-text>PickUp</ion-text>
					<ion-text class='pull-right'>{{request[0].dropLocation[0].place_id}}</ion-text>
				</ion-label>
			</ion-item>
			<ion-item>
				<ion-label>
					<h1>To</h1>
					<p>ttps://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y</p>
				</ion-label>
			</ion-item>
			<ion-item>
				<ion-label>
					<h1>Item Avatar</h1>
					<p>ttps://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y</p>
				</ion-label>
			</ion-item>
			<ion-item>
				<ion-label>
					<h1>Item Avatar</h1>
					<p>ttps://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y</p>
				</ion-label>
			</ion-item>
			<ion-item>
				<ion-label>
					<h1>Item Avatar</h1>
					<p>ttps://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y</p>
				</ion-label>
			</ion-item>
		</ion-list>
	</ion-card-content>
</ion-card>